
.bodyins{
    margin: 0px;
    padding: 0px;
    background-image: url(image/image15.jpg);
    -webkit-background-size:cover;
    background-size:cover ;
    font-family:Tahoma, Geneva, Verdana, sans-serif;
}
.form{
    position: absolute;
    top: 30%;
    left: 50%;
    transform:translate(-30%,-30%) ;
    box-sizing: border-box;
    background-color: #4D7FBA;
    padding: 50px;
    border-radius: 15px;
    border: 1px solid #fff;
}
.titre{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
}
.form p{
    margin: 0;
    padding: 0;
    color: white;
    font-weight: bold;
}
.form input{
    margin-bottom: 20px;

}
.form :hover{
    background-color: lightsalmon;
}
.form input[type=text],input[type=password],input[type=number],input[type=email]{
    border: none;
    border-bottom: 1px solid #fff;
    background-color: transparent;
    outline: none;
    height:20px;
    display: 16px;
    color: #fff;
}
.form input[type=submit], input[type=reset],button{
    border: none;
    height: 20px;
    outline: none;
    font-size: 15px;
    background-color: darkgrey;
    cursor: pointer;
    border-radius: 40px;
}
input:focus{
    background-color:cadetblue;
}
/* pour la connexion */




/* pour accuel2 */
/* .menu li a:hover{
    background-color: olive;
    margin-left: 0px;
 }
 .menu li{
     display: inline;
     padding: 10px 80px;
     background: #2D96F2;
   }
   h1{
       left:200px;
   } */